/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Base Styles */
html {
  font-size: 1.12em;
  line-height: 1.22em;
  padding: 2.44em;
  font-family: Georgia;
  background: rgb(13,118,255);
}

h1 {
  font-weight: bold;
  font-size: 2.5em;
  line-height: 0.88em;
  padding: 0.666em;
  background: black;
  color: silver;
  text-align: center;
}

p {
  padding-top: 0.5em;
  font-size: 1.22em;
  color: black;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 20em;
}

.secondset {
  display: inline-block;
  margin-left: 8em;
  height: 12em;
  padding-top: 1.5em;
}

a {
  color: cyan;
}

/* Form Elements */
label {
  display: block;
  font-size: inherit;
  line-height: inherit;
  height: 1.22em;
}

ol {
  line-height: 1;
  padding: 0.7em;
  height: 2.44em;
}

input {
  color: black;
  font-weight: bold;
}

.inputs li {
  color: black;
}

#bday, #username, #useremail {
  background-color: rgb(147,246,255);
  border: 0.5em solid black;
  padding: 0.66em;
  width: 50%;
  margin: 1.5em;
}

input[type="submit"] {
  cursor: pointer;
  background: rgb(37,31,178);
  padding: 0.611em;
  border-radius: 1em;
  float: inherit;
  background-color: cyan;
}

/* State Styles */

.js input[type="submit"] {
  display: none;
}

.js input[type="submit"].show {
  display: block;
}

@media screen and (max-width: 430px) {

  h1 {
    font-size: 1em;
    line-height: 1.22em;
    padding: 1.5em;
  }
  img {
    padding-top: 0.66em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 12em;
  }
  #bday, #username, #useremail {
    background-color: rgb(147,246,255);
    width: 15em;
    border: 0.5em solid black;
    padding: 0.5em;
    margin: 1em;
  }

  ol {
    line-height: 1em;
    padding: 0.4em;
    height: 2.44em;
  }

  #controller {
    display: none;
  }

  label {
    color: black;
    font-weight: bold;
    font-size: .7em;
  }

  .secondset {
    padding-top: 0.8em;
    display: block;
    margin-left: 3em;
    height: 6em;
  }
}
